server:
  port: 8080
spring:
  application:
    name: db
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    username: root
    password: A1.b2,c3-
    url: jdbc:mariadb://localhost:3306/web_second
  jpa:
    hibernate:
      ddl-auto: update